@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.logo {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.logo-image {
    width: 100%;
    max-width: 100%;
}

.nav-bar {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.nav-bar-a {
    text-decoration: none;
    margin: 10px;
    color: black;
}

