.image-products {
    width: 200px;
    height: 200px;
}

.products {
    display: flex;
    justify-content: center;
}

div article {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Indie Flower', cursive;
}